apiVersion: v1
kind: ConfigMap
metadata:
  name: {{ include "var.fullname" . }}-scripts-config
data:
  getfiles.sh: |-
    #!/bin/bash 
    cd /tmp
    git clone -b sidbpluscdb --single-branch https://github.com/ilfur/OraOperatorDBWithApp
    cp -R OraOperatorDBWithApp/dbscripts/* /projects
    rm -rf OraOperatorDBWithApp

